@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(75deg);
  }
  60% {
    transform: rotate(-45deg);
  }
  80% {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
