:root {
  --link: #dc3545;
  --text: #1e1e1e;
  --title: #ffffff;
  --background: #a6a6a6;
  --hint: #c0b9b9;
  --shadow: #cccc00;
  --font-family: "Kaushan Script", sans-serif;
  --font-family-p: "Sarabun", sans-serif;
}
