@import "variables";
@import "general";
@import "animation";
@import "media_queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: block;
  @include xs {
    display: grid;
    grid:
      "header" auto
      "main" auto
      "footer" auto
      / auto;
  }
  min-height: 100vh;
  margin: 0;
}

// header

header {
  min-height: 5rem;
  box-shadow: 2px -2px 15px;
  @include xs {
    grid-area: header;
  }
  ul {
    padding: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    @include xs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    li {
      @include xs {
        margin: 0.6rem 0;
      }
      a {
        font-size: 1.6rem;
        cursor: pointer;
        &:hover {
          color: var(--link);
        }
      }
    }
  }
}

// main

main {
  @include xs {
    grid-area: main;
  }
  margin: 5rem 2rem;
  min-height: 100vh;
  h4 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px var(--shadow);
  }
  p {
    margin: 5rem 0;
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
    .smiley {
      font-weight: 500;
    }
  }
  form {
    display: flex;
    justify-content: center;
    .prefix,
    .postfix {
      background: linear-gradient(to right, var(--text), var(--title));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
    }
    .prefix {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    button {
      border: 0;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
      .postfix {
        background: linear-gradient(to left, var(--text), var(--title));
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
    input {
      outline: 0;
      border: 0;
      min-width: 400px;
      padding: 1rem 2rem;
      line-height: 2rem;
      font-size: 1.8rem;
      border-bottom: 1px solid var(--text);
      &::placeholder {
        color: var(--background);
      }
    }
  }
}
// footer

footer {
  @include xs {
    grid-area: footer;
  }
  min-height: 50px;
  background: linear-gradient(to top, var(--text), var(--background));
  box-shadow: 1px 0px 15px;
  p {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    color: var(--title);
    font-family: var(--font-family);
  }
}
